In [1]:
#Importamos las librerias necesarias para el análisis de datos 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
#Importamos plotly para la visualización de los datos
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df = pd.read_csv(r'C:\Users\spide\Desktop\Bootcamp\mi_entorno\Modulo_3\proyecto_final_modulo_3\vehiculos-de-segunda-mano-sample.csv')

In [3]:
df.shape

(100000, 28)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   vehicle_type            100000 non-null  object
 1   make                    100000 non-null  object
 2   model                   100000 non-null  object
 3   version                 99842 non-null   object
 4   fuel                    96810 non-null   object
 5   year                    100000 non-null  int64
 6   kms                     99189 non-null   float64
 7   power                   99709 non-null   float64
 8   doors                   0 non-null       float64
 9   shift                   98982 non-null   object
 10  color                   0 non-null       float64
 11  photos                  100000 non-null  int64
 12  description             55810 non-null   object
 13  price                   100000 non-null  int64
 14  currency                100000 non-null  object
 15  location                100000 non-null  object
 16  publish_date            100000 non-null  object
 17  update_date             100000 non-null  object
 18  dealer_name             99908 non-null   object
 19  dealer_description      81558 non-null   object
 20  dealer_address          99908 non-null   object
 21  dealer_zip_code         99908 non-null   float64
 22  dealer_city             99908 non-null   object
 23  dealer_country_code     100000 non-null  object
 24  dealer_is_professional  100000 non-null  bool
 25  dealer_website          79913 non-null   object
 26  dealer_registered_at    99908 non-null   object
 27  date                    100000 non-null  object
dtypes: bool(1), float64(5), int64(3), object(19)
memory usage: 20.7+ MB

## Valores duplicados

In [ ]:
df.duplicated().sum() #filas duplicadas

0

In [5]:
df = df.drop_duplicates()

## Valores nulos

In [29]:
((df.isnull().sum())/df.shape[0])*100

vehicle_type                0.000
make                        0.000
model                       0.000
version                     0.158
fuel                        3.190
year                        0.000
kms                         0.811
power                       0.291
doors                     100.000
shift                       1.018
color                     100.000
photos                      0.000
description                44.190
price                       0.000
currency                    0.000
location                    0.000
publish_date                0.000
update_date                 0.000
dealer_name                 0.092
dealer_description         18.442
dealer_address              0.092
dealer_zip_code             0.092
dealer_city                 0.092
dealer_country_code         0.000
dealer_is_professional      0.000
dealer_website             20.087
dealer_registered_at        0.092
date                        0.000
dtype: float64

In [16]:
df['vehicle_type'].value_counts()

vehicle_type
car    100000
Name: count, dtype: int64

In [17]:
df['photos'].unique()

array([10,  8,  6,  2,  9,  5,  1,  7,  4,  3], dtype=int64)

In [19]:
df["dealer_website"][0]

'www.cocheauto.com'

In [21]:
df.columns

Index(['vehicle_type', 'make', 'model', 'version', 'fuel', 'year', 'kms',
       'power', 'doors', 'shift', 'color', 'photos', 'description', 'price',
       'currency', 'location', 'publish_date', 'update_date', 'dealer_name',
       'dealer_description', 'dealer_address', 'dealer_zip_code',
       'dealer_city', 'dealer_country_code', 'dealer_is_professional',
       'dealer_website', 'dealer_registered_at', 'date'],
      dtype='object')