In [1]:
#Importamos las librerias necesarias para el análisis de datos 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
#Importamos plotly para la visualización de los datos
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df = pd.read_csv(r'C:\Users\spide\Desktop\Bootcamp\mi_entorno\Modulo_3\proyecto_final_modulo_3\vehiculos-de-segunda-mano-sample.csv')

In [3]:
df.shape

(100000, 28)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   vehicle_type            100000 non-null  object
 1   make                    100000 non-null  object
 2   model                   100000 non-null  object
 3   version                 99842 non-null   object
 4   fuel                    96810 non-null   object
 5   year                    100000 non-null  int64
 6   kms                     99189 non-null   float64
 7   power                   99709 non-null   float64
 8   doors                   0 non-null       float64
 9   shift                   98982 non-null   object
 10  color                   0 non-null       float64
 11  photos                  100000 non-null  int64
 12  description             55810 non-null   object
 13  price                   100000 non-null  int64
 14  currency                100000 non-null  object
 15  location                100000 non-null  object
 16  publish_date            100000 non-null  object
 17  update_date             100000 non-null  object
 18  dealer_name             99908 non-null   object
 19  dealer_description      81558 non-null   object
 20  dealer_address          99908 non-null   object
 21  dealer_zip_code         99908 non-null   float64
 22  dealer_city             99908 non-null   object
 23  dealer_country_code     100000 non-null  object
 24  dealer_is_professional  100000 non-null  bool
 25  dealer_website          79913 non-null   object
 26  dealer_registered_at    99908 non-null   object
 27  date                    100000 non-null  object
dtypes: bool(1), float64(5), int64(3), object(19)
memory usage: 20.7+ MB

## Valores duplicados

In [5]:
df.duplicated().sum() #filas duplicadas

237

In [6]:
df = df.drop_duplicates()

## Valores nulos

In [15]:
df.isnull().sum()

vehicle_type                  0
make                          0
model                         0
version                     158
fuel                       3177
year                          0
kms                         809
power                       283
doors                     99763
shift                      1018
color                     99763
photos                        0
description               44014
price                         0
currency                      0
location                      0
publish_date                  0
update_date                   0
dealer_name                  92
dealer_description        18345
dealer_address               92
dealer_zip_code              92
dealer_city                  92
dealer_country_code           0
dealer_is_professional        0
dealer_website            19997
dealer_registered_at         92
date                          0
dtype: int64

In [7]:
((df.isnull().sum())/df.shape[0])*100

vehicle_type                0.000000
make                        0.000000
model                       0.000000
version                     0.158375
fuel                        3.184547
year                        0.000000
kms                         0.810922
power                       0.283672
doors                     100.000000
shift                       1.020418
color                     100.000000
photos                      0.000000
description                44.118561
price                       0.000000
currency                    0.000000
location                    0.000000
publish_date                0.000000
update_date                 0.000000
dealer_name                 0.092219
dealer_description         18.388581
dealer_address              0.092219
dealer_zip_code             0.092219
dealer_city                 0.092219
dealer_country_code         0.000000
dealer_is_professional      0.000000
dealer_website             20.044505
dealer_registered_at        0.092219
date                        0.000000
dtype: float64

In [20]:
# Ajustar las opciones de visualización de pandas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

# Mostrar el resultado completo
df[df['fuel'].isnull()][['make','model']].value_counts()

make           model
Toyota         C-HR                  489
Mazda          2                     128
Toyota         Corolla               118
CUPRA          Leon                  117
Lexus          UX                    110
Ford           Puma                  109
Lexus          ES                     98
Toyota         Yaris                  90
               Auris                  80
KIA            Niro                   79
Fiat           500                    79
Lexus          NX                     70
KIA            Ceed                   68
               Sportage               67
Hyundai        IONIQ                  65
Alfa Romeo     Tonale                 64
Honda          Insight                56
BMW            X7                     50
Renault        Arkana                 50
Lexus          RC                     48
Citroen        C5 X                   44
               C3                     41
Lexus          RX                     37
BMW            Serie 4                36
Hyundai        Tucson                 29
SEAT           Leon                   26
Lexus          IS                     23
Dacia          Jogger                 22
BMW            i3                     18
Lexus          GS                     17
Bentley        Flying Spur            16
Abarth         695                    16
Nissan         Qashqai                15
Daihatsu       Terios                 15
Renault        Twizy                  14
Fiat           Panda                  13
Honda          Jazz                   12
Mazda          CX-30                  12
Ford           Tourneo Custom         12
Volkswagen     Golf                   11
Mitsubishi     Outlander              11
Land Rover     Range Rover Evoque     10
Ford           Fiesta                 10
Volkswagen     Caddy                   9
Mazda          3                       9
Audi           RS6                     9
Toyota         iQ                      9
               Camry                   9
Ford           Kuga                    9
Citroen        Berlingo                9
Porsche        Panamera                9
Cadillac       Seville                 8
Corvette       Corvette                8
Dodge          Caliber                 8
Mercedes-Benz  GLE Coupé               8
BMW            Serie 8                 8
Mercedes-Benz  Classe X                8
Hyundai        i20                     8
Infiniti       FX37                    8
Jaguar         S-Type                  8
               XJ                      8
Citroen        Xsara                   8
Skoda          Octavia                 8
Renault        Clio                    8
Saab           9-5                     8
Audi           RS3                     8
               Q8                      8
Chevrolet      Tahoe                   8
Volvo          V90                     8
Abarth         Punto Evo               8
BMW            X5 M                    8
Hyundai        Kona                    8
Porsche        Boxster                 8
Ferrari        LaFerrari               8
Hyundai        Accent                  8
Subaru         XV                      8
Citroen        C2                      8
Fiat           Barchetta               8
BMW            X6 M                    8
Nissan         Townstar                8
Cadillac       CTS                     8
Ford           Mondeo Vignale          8
Porsche        718 Cayman              8
Lotus          Esprit                  7
Subaru         Legacy                  7
MG             ZS                      7
Hyundai        Elantra                 7
Peugeot        406                     7
Skoda          Kamiq                   7
MINI           Roadster                7
Chevrolet      Camaro                  7
KIA            XCeed                   7
Mitsubishi     3000 GT                 7
Hummer         H2                      7
Nissan         Pixo                    7
KIA            Stonic                  7
Peugeot        308                     6
Opel           Tigra                   6
Mercedes-Benz  Clase G                 6
Porsche        718 Boxster             6
Tata           Indigo                  6
Volvo          XC60                    6
Chevrolet      Cruze                   6
Abarth         595                     6
               500                     5
Volkswagen     Multivan                5
Hyundai        Getz                    5
Chevrolet      Kalos                   5
Mercedes-Benz  SLK                     5
Volkswagen     Golf Plus               5
Citroen        C4                      5
Volkswagen     Touareg                 5
KIA            Rio                     5
Lamborghini    Huracán                 5
Audi           A3                      5
BMW            X6                      5
Porsche        Cayman                  4
Rover          45                      4
Opel           Corsa                   4
DS             4                       4
Cadillac       STS                     4
BMW            Serie 3                 4
               Serie 6                 4
               Serie 5                 4
Porsche        911                     4
Peugeot        307                     4
Mercedes-Benz  Viano                   4
Ford           C-MAX                   4
Volkswagen     Taigo                   4
Mercedes-Benz  Clase CLS               4
               Clase A                 4
Peugeot        3008                    4
Toyota         Yaris Cross             3
BMW            X5                      3
Audi           RS4                     3
Land Rover     Range Rover Sport       3
Porsche        Cayenne                 3
Dacia          Duster                  3
Peugeot        207                     3
Opel           Astra                   3
Mitsubishi     Eclipse Cross           3
Mercedes-Benz  GLA                     2
BMW            Serie 7                 2
Nissan         NV400                   2
Toyota         MR2                     2
Hyundai        Coupe                   2
Audi           Q7                      2
Volkswagen     Golf Sportsvan          2
DS             7 CROSSBACK             2
Hyundai        i10                     2
Volkswagen     Polo                    2
               T-Cross                 2
Jeep           Wrangler                2
Mercedes-Benz  Clase E                 2
Lancia         Musa                    2
Volvo          XC40                    2
BMW            X1                      2
Nissan         Navara                  2
Hyundai        Atos                    2
Ford           Fusion                  2
Dacia          Lodgy                   2
Ford           Focus                   2
Citroen        Nemo                    2
               C5                      2
Renault        Laguna                  2
Lexus          CT                      2
Citroen        C3 Picasso              2
Honda          CR-V                    2
               CR-Z                    2
Hyundai        Matrix                  1
Suzuki         Vitara                  1
Peugeot        107                     1
Citroen        C4 Picasso              1
Renault        Twingo                  1
Mercedes-Benz  Vito                    1
Chevrolet      Aveo                    1
SEAT           Ibiza                   1
Name: count, dtype: int64

In [14]:
df.select_dtypes(include=['object']).nunique()

vehicle_type               1
make                      66
model                    748
version                 8658
fuel                       4
shift                      2
description             6439
currency                   1
location                 669
publish_date             424
update_date               38
dealer_name             1678
dealer_description      1181
dealer_address          1675
dealer_city              665
dealer_country_code        1
dealer_website           888
dealer_registered_at    1177
date                      13
dtype: int64

In [9]:
df['photos'].unique()

array([10,  8,  6,  2,  9,  5,  1,  7,  4,  3], dtype=int64)

In [10]:
df["dealer_website"][0]

'www.cocheauto.com'

In [11]:
df.columns

Index(['vehicle_type', 'make', 'model', 'version', 'fuel', 'year', 'kms',
       'power', 'doors', 'shift', 'color', 'photos', 'description', 'price',
       'currency', 'location', 'publish_date', 'update_date', 'dealer_name',
       'dealer_description', 'dealer_address', 'dealer_zip_code',
       'dealer_city', 'dealer_country_code', 'dealer_is_professional',
       'dealer_website', 'dealer_registered_at', 'date'],
      dtype='object')